body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: repeat(8, 100px);
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-area: 1/1/2/-1;
}

.sidebar {
  background-color: #005B94;
  grid-area: 2/1/8/2;
}

.nav {
  background-color: #642cde;
  grid-area: 2/2/3/5;
}

.article {
  background-color: #7E1DC3;
  grid-area: 3/2/8/5;
}

.footer {
  background-color: #393f4d;
  grid-row-start: 8;
  grid-column: 1/-1;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}