/*General Styling*/
body{
    font-family: Roboto, 'sans-serif';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}

ul{
    list-style: none;
    display: inline-flex;
    gap: 20px;
}

p, h1, h5{
    padding: 0px;
    margin: 0px;
}


a, #link-text{
    font-size: 18px;
    color:#e5e7eb;
    text-decoration: none;
}

button{
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
}

#signup-btn{
    border: 2px solid white;
    padding: 5px 20px;
}

#banner-btn{
    padding: 7px 22px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
}


/*Common color of nav, footer and banner sections*/
.nav, .footer, .banner{
    background-color: #1F2937;
    color: white;
}


/*Navigation bar Styling*/
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
}

.logo-text{
    font-size: 24px;
    color: #f9faf8;
}


/*Banner Section Styling*/
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 150px;
}

#banner-title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}


.main{
    flex: 1; /*Makes footer stick at bottom*/
}

.intro{
    flex-basis: 50%;
    flex-grow: 0;
    padding-right: 30px;
    height: 220px;
}

.img-placeholder{
    flex-basis: 50%;
    flex-grow: 0;
    background: grey;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Random Information Section Styling*/
#info-head{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.profiles{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    padding: 0px 200px;
}

.profile {
    width: 170px;
    text-align: center;
}

.box{
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}


/*Quote Section Styling*/
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 200px;
    height: 150px;
    background-color: #e5e7eb;
}

#quote-saying{
    font-size:36px; 
    opacity: 50%;
    font-style: italic;
    margin-bottom: 10px;
}

#quote-author{
    text-align: end;
    font-weight: bold;
}


/*Sign Up section styling*/
.section{
    padding: 70px 150px;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    gap: 20px;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
}


/*Footer Styling*/
.footer{
    text-align: center;
    padding: 30px 200px;
}